<div data-role="view" data-title="Contacto" data-layout="main" data-model="app.contactsView" data-show="app.contactsView.onShow" data-after-show="app.contactsView.afterShow">
    <!-- START_CUSTOM_CODE_contactsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <div id="contactListActions">
        <ul data-role="listview" data-template="contactsTemplate" data-bind="source: dataSourceActions">
        </ul>
    </div>
    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: contactCenter">#: data.ActionType #</a>
    </script>
    <div id="contactInputCallback">
        <h3> Callback </h3>
        <span>
        	Te devolveremos la llamada a la fecha y hora que nos indiques.
        </span>
        <input id="datetimepicker" />
        <br />
        <button data-bind="click: acceptCallback" class="close-button" data-role="button">Aceptar</button>
        <button data-bind="click: close" class="close-button" data-role="button">Cancelar</button>
    </div>
    <!-- END_CUSTOM_CODE_contactsView -->
</div>
<div id="chat" data-role="view" data-title="Chat" data-layout="main">
    <iframe id="chatFrame" width="100%" height="500" src="http://www.e-contact.cl"></iframe>
</div>