<div id="home" data-role="view" data-title="Inicio" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <button id="btnLogout" data-role="button" data-align="left" data-bind="click: logout">Salir</button>
            <a data-role="button" data-align="right" data-rel="modalview" href="#contact">Ayuda</a>
        </div>
    </header>
    <h1 data-bind="html: title"></h1>
    <ul data-role="listview" data-style="inset" data-template="homeTemplate" data-bind="source: menu"></ul>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
    <script type="text/x-kendo-template" id="homeTemplate">
        <a data-bind="click: alert">#: data.NodeName #</a>
    </script>
    <!-- END_CUSTOM_CODE_homeView -->
</div>
<div id="info" data-role="view" data-title="Información" data-layout="main" data-model="app.homeView">
    <header data-role="header">
        <div data-role="navbar">
            <span data-bind="html: titleInfo" data-role="view-title"></span>
            <button data-role="button" data-align="left" data-bind="click: back">Inicio</button>
            <a data-role="button" data-align="right" data-rel="modalview" href="#contact">Ayuda</a>
        </div>
    </header>
    <span data-bind="html: titleInfo" data-role="view-title"></span>
    <ul id="subnodes" data-role="listview" data-style="inset" data-template="infoTemplate" data-bind="source: submenu">
    </ul>
    <script type="text/x-kendo-template" id="infoTemplate">
        <a data-bind="click: alert">#: data.NodeName #</a>
    </script>
</div>
<div id="contact" data-role="modalview" data-model="app.homeView" style="width: 90%; height: 60%">
    <div data-role="header">
        <div data-role="navbar">
            <span>Contacto</span>
        </div>
    </div>
    <ul data-role="listview" data-style="inset" data-template="contactsTemplate" data-bind="source: dataSourceActions">
    </ul>
    <button data-bind="click: close" class="close-button" data-role="button">Cancelar</button>
    <!-- this is the template used by the listview. template items are automatically wrapped in an <li> by Kendo UI Mobile -->
    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: contactCenter">#: data.ActionType #</a>
    </script>
</div>
<div id="callback" data-role="modalview" data-model="app.homeView" style="width: 90%; height: 60%">
    <div data-role="header">
        <div data-role="navbar">
            <span>Callback</span>
        </div>
    </div>
    <h4>Llamarme a las: </h4>
    <input id="datetimepicker" style="width: 100%;" />
    
    <button data-bind="click: callback" class="close-button" data-role="button">Aceptar</button>
    <button data-bind="click: close" class="close-button" data-role="button">Cancelar</button>
    
    <script type="text/x-kendo-template" id="contactsTemplate">
        <a data-bind="click: contactCenter">#: data.ActionType #</a>
    </script>
</div>
<div id="chat" data-role="view" data-title="Chat" data-layout="main">
    <iframe id="chatFrame" width="100%" height="500" src="http://www.e-contact.cl"></iframe>
</div>