<div data-role="view" data-title="E-Contact" data-layout="main" data-model="app.loginView" data-show="app.loginView.onShow" data-after-show="app.loginView.afterShow">
    <!-- START_CUSTOM_CODE_settingsView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                <b>RUT:</b>
                <input type="text" name="username" data-bind="value: username" placeholder="RUT">
            </label>
            </li>
            <li>
                <label>
                <b>Contraseña:</b>
                <input type="password" name="password" data-bind="value: password" placeholder="Clave">
            </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">Entrar</button>
            </li>
        </ul>                
    </form>
    
    <img src="images/econtact/logo_inicio_econtac.png" alt="E-Contact" height="100%" width="100%">
    
    <!-- END_CUSTOM_CODE_settingsView -->
</div>